<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">{{ 'UPDATE_PRODUCT' | translate }}</h1>
</div>
<form [formGroup]="productForm" novalidate>
  <div class="row">
    <div class="col-12 col-md-6">
      <div *ngIf="product.id.trim() !== ''" class="form-group">
        <label for="id">{{ 'ID' | translate }}</label>
        <input class="form-control" formControlName="id" readonly />
      </div>
      <div class="form-group">
        <label for="name">{{ 'NAME' | translate }}</label>
        <input class="form-control" formControlName="name" />
      </div>
      <div class="form-group">
        <label for="category">{{ 'CATEGORY' | translate }}</label>
        <select class="form-control" formControlName="category">
          <option [ngValue]="null"></option>
          <ng-container *ngFor="let cat of categories">
            <option [ngValue]="cat.id"> {{ cat.name }} </option>
          </ng-container>
        </select>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="price">{{ 'PRICE' | translate }}</label>
            <div class="input-group">
              <input class="form-control" formControlName="price" />
              <div class="input-group-append">
                <span class="input-group-text"> &euro; </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="oldPrice">{{ 'OLD_PRICE' | translate }}</label>
            <div class="input-group">
              <input class="form-control" formControlName="oldPrice" />
              <div class="input-group-append">
                <span class="input-group-text"> &euro; </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="coupon">{{ 'COUPON' | translate }}</label>
        <input class="form-control" formControlName="coupon" />
      </div>
      <div class="form-group">
        <label for="description">{{ 'DESCRIPTION' | translate }}</label>
        <ckeditor formControlName="description" [editor]="editor"></ckeditor>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="imageUrl">{{ 'IMAGE' | translate }}</label>
        <div *ngIf="productForm.value.imageUrl" class="form-img-container">
          <img [src]="productForm.value.imageUrl" />
        </div>
        <input class="form-control" formControlName="imageUrl" />
      </div>
      <div class="form-group">
        <label for="storeName">{{ 'STORE' | translate }}</label>
        <input class="form-control" formControlName="storeName" />
      </div>
      <div class="form-group">
        <label for="url">{{ 'URL' | translate }}</label>
        <input class="form-control" formControlName="url" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-right">
      <button
        class="btn btn-secondary float-right"
        (click)="onCancelButtonClick()"
      >
        {{ 'CANCEL' | translate }}
      </button>
      <button
        class="btn btn-primary float-right mx-3"
        [disabled]="productForm.pristine"
        (click)="onSubmitButtonClick()"
      >
        {{ 'SAVE' | translate }}
      </button>
    </div>
  </div>
</form>
