<nav class="col-12 col-md-3 col-lg-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['dashboard']"
          routerLinkActive="active"
        >
          {{ 'DASHBOARD' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['categories']"
          routerLinkActive="active"
        >
          {{ 'CATEGORIES' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['products']"
          routerLinkActive="active"
        >
          {{ 'PRODUCTS' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['users']" routerLinkActive="active">
          {{ 'USERS' | translate }}
        </a>
      </li>
      <li class="nav-items">
        <a
          class="nav-link"
          [routerLink]="['localisation']"
          routerLinkActive="active"
        >
          {{ 'LOCALISATION' | translate }}
        </a>
      </li>
      <li class="nav-items">
        <a
          class="nav-link"
          [routerLink]="['settings']"
          routerLinkActive="active"
        >
          {{ 'SETTINGS' | translate }}
        </a>
      </li>
    </ul>
  </div>
</nav>
