<button
  class="btn btn-outline-secondary btn-block btn-categories"
  data-toggle="collapse"
  href="#sidebar-responsive"
  role="button"
  aria-expanded="false"
  aria-controls="sidebar-responsive"
>
  {{ 'CATEGORIES' | translate }}
</button>

<div class="sidebar-responsive collapse" id="sidebar-responsive">
  <nav class="nav flex-column sidebar-nav" id="sidebar-nav">
    <a
      id="a-all-prods"
      class="nav-link"
      href="#div-all-prods"
      data-toggle="collapse"
      aria-expanded="false"
      aria-controls="a-all-prods"
      (click)="onCategoryClick($event, null)"
      [ngClass]="{ active: !activeCategory }"
    >
      {{ 'ALL_PRODUCTS' | translate }}
    </a>
    <div
      class="collapse d-none"
      id="div-all-prods"
      data-parent="#sidebar-nav"
    ></div>
    <ng-container *ngFor="let item of sidebarCategories; index as idx">
      <ng-container *ngIf="!item.children">
        <a
          class="nav-link"
          [id]="'a-' + item.id"
          [href]="'#div-' + item.id"
          data-toggle="collapse"
          aria-expanded="false"
          [attr.aria-controls]="'a-' + item.id"
          (click)="onCategoryClick($event, item.id)"
          [ngClass]="{ active: activeCategory === item.id }"
        >
          {{ item.name }}
        </a>
        <div
          class="collapse d-none"
          [id]="'div-' + item.id"
          data-parent="#sidebar-nav"
        ></div>
      </ng-container>
      <ng-container *ngIf="item.children && item.children.length > 0">
        <a
          class="nav-link"
          [id]="'a-' + item.id"
          [href]="'#div-' + item.id"
          data-toggle="collapse"
          aria-expanded="false"
          [attr.aria-controls]="'a-' + item.id"
        >
          {{ item.name }}
        </a>
        <div
          class="collapse"
          [id]="'div-' + item.id"
          data-parent="#sidebar-nav"
        >
          <nav class="nav flex-column sidebar-nav-children">
            <a
              class="nav-link"
              (click)="onCategoryClick($event, item.id)"
              [ngClass]="{ active: activeCategory == item.id }"
              >{{ 'ALL_IN' | translate }} {{ item.name }}</a
            >
            <a
              *ngFor="let child of item.children"
              class="nav-link"
              (click)="onCategoryClick($event, child.id)"
              [ngClass]="{ active: activeCategory == child.id }"
            >
              {{ child.name }}
            </a>
          </nav>
        </div>
      </ng-container>
    </ng-container>
  </nav>
</div>
