:host {
  border: rgba(0, 0, 0, 0.1) 1px solid;
  border-radius: 5px;
  display: block;
  padding: 15px;

  .btn-categories {
    @media (min-width: 768px) {
      pointer-events: none;
    }
  }

  .sidebar-responsive.collapse:not(.show) {
    @media (min-width: 768px) {
      display: block;
    }
  }

  .sidebar-nav {
    .nav-link {
      font-weight: 500;
      // color: rgba(0, 0, 0, 0.65);
      cursor: pointer;
    }

    .nav-link.active,
    .nav-link:hover {
      font-weight: 500;
      // color: rgba(0, 0, 0, 0.85);
    }

    .nav-link[aria-expanded='true'] {
      font-weight: 500;
      // color: rgba(0, 0, 0, 0.85);
    }
  }

  .sidebar-nav-children {
    margin-left: 10px;
    font-size: 90%;
  }
}
