<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">
    {{ 'UPDATE_TRANSLATION' | translate }} -
    {{ 'LANGUAGE_' + lang.toUpperCase() | translate }}
  </h1>
</div>
<form [formGroup]="translationForm" novalidate>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="form-group">
        <label for="key">{{ 'KEY' | translate }}</label>
        <input
          class="form-control"
          formControlName="key"
          [readonly]="translation.key"
        />
      </div>
      <div class="form-group form-check">
        <input
          type="checkbox"
          class="form-check-input"
          formControlName="isPlaintext"
        />
        <label class="form-check-label">
          {{ 'TRANSLATION_NO_HTML' | translate }}
        </label>
      </div>
    </div>

    <div class="col-12 col-md-8">
      <div class="form-group">
        <label for="val">{{ 'VALUE' | translate }}</label>
        <ckeditor formControlName="val" [editor]="editor"></ckeditor>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-right">
      <button
        class="btn btn-secondary float-right"
        (click)="onCancelButtonClick()"
      >
        {{ 'CANCEL' | translate }}
      </button>
      <button
        class="btn btn-primary float-right mx-3"
        [disabled]="translationForm.pristine"
        (click)="onSubmitButtonClick()"
      >
        {{ 'SAVE' | translate }}
      </button>
    </div>
  </div>
</form>
