<div id="carouselFront" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      *ngFor="let item of carouselItems; index as idx"
      data-target="#carouselFront"
      data-slide-to="idx"
      [ngClass]="{ active: idx === 0 }"
    ></li>
  </ol>
  <div class="carousel-inner">
    <div
      *ngFor="let item of carouselItems; index as idx"
      class="carousel-item"
      [ngClass]="{ active: idx === 0 }"
      (click)="onCarouselItemClick(item)"
    >
      <img class="d-block w-100" [src]="item.imageUrl" [alt]="item.title" />
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselFront"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselFront"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
