<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3"
>
  <h1 class="h2">{{ 'LOCALISATION' | translate }}</h1>
</div>
<div class="row mb-2">
  <div class="col-12">
    <select
      class="form-control form-control-sm select-language"
      (change)="onSelectLanguageChange($event)"
    >
      <option
        *ngFor="let lang of langKeys"
        [ngValue]="lang"
        [value]="lang"
        [selected]="lang === selectedLanguage"
      >
        {{ translations[lang]['LANGUAGE_' + lang.toUpperCase()] }}
      </option>
    </select>
    <div class="btn-toolbar float-right">
      <div class="btn-group mr-2">
        <button
          [routerLink]="['.', selectedLanguage, '0']"
          class="btn btn-sm btn-outline-secondary"
        >
          <i class="material-icons"> add </i> {{ 'ADD' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table
    datatable
    [dtTrigger]="dtTrigger"
    [dtOptions]="dtOptions"
    class="table table-striped"
  >
    <thead>
      <tr>
        <th>{{ 'KEY' | translate }}</th>
        <th class="th-value">{{ 'VALUE' | translate }}</th>
        <th class="th-actions">{{ 'ACTIONS' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pair of translationTable[this.selectedLanguage]">
        <td>{{ pair.key }}</td>
        <td>{{ pair.val }}</td>
        <td>
          <a [routerLink]="['.', selectedLanguage, pair.key]">
            <i class="material-icons"> create </i>
          </a>
          <a
            href="#"
            data-toggle="modal"
            data-target="#modal"
            (click)="onDeleteButtonClick(pair.key)"
          >
            <i class="material-icons"> delete </i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
