<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3"
>
  <h1 class="h2">{{ 'CATEGORIES' | translate }}</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button
        [routerLink]="['.', '0']"
        class="btn btn-sm btn-outline-secondary"
      >
        <i class="material-icons"> add </i> {{ 'ADD' | translate }}
      </button>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table datatable [dtTrigger]="dtTrigger" class="table table-striped">
    <thead>
      <tr>
        <th *ngIf="showIds">{{ 'ID' | translate }}</th>
        <th>{{ 'NAME' | translate }}</th>
        <th>{{ 'PARENT' | translate }}</th>
        <th class="th-actions">{{ 'ACTIONS' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let category of categories">
        <tr>
          <td *ngIf="showIds">{{ category.id }}</td>
          <td>{{ category.name }}</td>
          <td>
            {{ category.parent ? getParentCategoryName(category.parent) : '' }}
          </td>
          <td>
            <a [routerLink]="['.', category.id]">
              <i class="material-icons"> create </i>
            </a>
            <a
              href="#"
              data-toggle="modal"
              data-target="#modal"
              (click)="onDeleteButtonClick(category.id)"
            >
              <i class="material-icons"> delete </i>
            </a>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
