<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-3 col-lg-2 mr-md-auto" [routerLink]="['/admin']">
    {{ 'APP_NAME' | translate }}
  </a>

  <nav class="my-2 my-md-0 mr-md-3">
    <ul class="nav nav-pills">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle text-light"
          data-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ 'WELCOME' | translate }}, {{ user?.displayName }}
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="logout()">
            {{ 'LOGOUT' | translate }}
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" [routerLink]="['/store']">
          {{ 'BACK_TO_STORE' | translate }}
        </a>
      </li>
      <li class="nav-item dropdown" *ngIf="showLanguageMenu">
        <a
          class="nav-link dropdown-toggle nav-link-pointer text-light"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ 'LANGUAGE' | translate }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a
            *ngFor="let lang of languages; index as idx"
            class="dropdown-item nav-link-pointer"
            (click)="onLanguageClick(idx)"
          >
            {{ 'LANGUAGE_' + lang.toUpperCase() | translate }}
          </a>
        </div>
      </li>
    </ul>
  </nav>
</nav>
