:host {
  .navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
  }

  li.dropdown.show {
    a {
      background-color: #f8f9fa;
      color: #343a40 !important;
    }
  }
}
