<div
  class="modal fade"
  id="modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">{{ data.title }}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">{{ data.description }}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ 'CANCEL' | translate }}
        </button>
        <button
          *ngIf="data.buttonPrimary.class === 'danger'"
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="onPrimaryButtonClick($event)"
        >
          {{ data.buttonPrimary.text || ('CONFIRM' | translate) }}
        </button>
        <button
          *ngIf="!data.buttonPrimary.class"
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="onPrimaryButtonClick($event)"
        >
          {{ data.buttonPrimary.text || ('CONFIRM' | translate) }}
        </button>
      </div>
    </div>
  </div>
</div>
