<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">{{ 'SETTINGS' | translate }}</h1>
</div>
<div class="row">
  <div class="col-12 col-md-10">
    <form [formGroup]="settingsForm" (ngSubmit)="onSubmitButtonClick()">
      <formly-form [model]="settings" [fields]="fields" [form]="settingsForm">
        <div class="row">
          <div class="col-12 text-right">
            <button
              class="btn btn-primary float-right mx-3"
              [disabled]="settingsForm.pristine"
            >
              {{ 'SAVE' | translate }}
            </button>
          </div>
        </div>
      </formly-form>
    </form>
  </div>
</div>
