<div *ngIf="show" class="loading-container">
  <div id="circle">
    <div class="loader">
      <div class="loader">
        <div class="loader"><div class="loader"></div></div>
      </div>
    </div>
  </div>
</div>
