<admin-navbar></admin-navbar>

<div class="container-fluid">
  <div class="row">
    <admin-sidebar></admin-sidebar>
    <main role="main" class="col-md-9 col-lg-10 ml-sm-auto px-4 mb-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
