:host {
  .navbar-brand {
    // font-weight: bold;
    font-size: 24px;

    .material-icons.navbar-icon {
      line-height: unset;
      font-size: inherit;
      vertical-align: bottom;
    }
  }

  .nav-link-pointer {
    cursor: pointer;
  }
}
