<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['']">
      <i class="material-icons navbar-icon">phonelink</i>
      {{ 'APP_NAME' | translate }}
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/']"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
          >
            {{ 'NAVBAR_LINK_HOME' | translate }}
          </a>
        </li>
        <li *ngIf="user" class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/profile']"
            routerLinkActive="active"
          >
            {{ 'NAVBAR_LINK_WISHLIST' | translate }}
          </a>
        </li>
      </ul>
      <ul class="navbar-nav mr-2">
        <li class="nav-item" *ngIf="!user && showLoginLink">
          <a class="nav-link nav-link-pointer" (click)="login()">
            {{ 'LOGIN' | translate }}
          </a>
        </li>
        <li class="nav-item dropdown" *ngIf="user">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ 'WELCOME' | translate }}, {{ user?.displayName }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a
              *ngIf="user?.isAdmin"
              class="dropdown-item"
              [routerLink]="['/admin']"
            >
              {{ 'NAVBAR_LINK_ADMIN' | translate }}
            </a>
            <div *ngIf="user?.isAdmin" class="dropdown-divider"></div>
            <a class="dropdown-item nav-link-pointer" (click)="logout()">{{
              'LOGOUT' | translate
            }}</a>
          </div>
        </li>
        <li class="nav-item dropdown" *ngIf="showLanguageMenu">
          <a
            class="nav-link dropdown-toggle nav-link-pointer"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ 'LANGUAGE' | translate }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a
              *ngFor="let lang of languages; index as idx"
              class="dropdown-item nav-link-pointer"
              (click)="onLanguageClick(idx)"
            >
              {{ 'LANGUAGE_' + lang.toUpperCase() | translate }}
            </a>
          </div>
        </li>
      </ul>
      <!--
        <select
          class="custom-select select-language"
          (change)="onSelectLanguageChange($event)"
        >
          <option selected disabled></option>
          <option *ngFor="let lang of languages"></option>
        </select>
      -->
    </div>
  </div>
</nav>
