<div class="row d-none d-sm-block">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']">{{ 'HOME' | translate }}</a>
        </li>
        <li
          *ngFor="let category of categories; index as idx"
          class="breadcrumb-item"
        >
          <a (click)="onBreadcrumbCategoryClick(category)">
            {{ category.name }}
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          {{ product.name }}
        </li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-6 col-md-5 col-lg-4 text-center mb-2">
    <img class="img-product" [src]="product.imageUrl" />
  </div>
  <div class="col-12 col-sm-6 col-md-7 col-lg-8">
    <div class="border-bottom">
      <h1 class="h3">{{ product.name }}</h1>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-lg-7">
        <table class="table table-borderless details-table">
          <tr *ngIf="discountPercentage > 0">
            <td>{{ 'DETAILS_OLD_PRICE' | translate }}:</td>
            <td class="text-muted td-old-price">
              {{ product.oldPrice | currency: 'EUR' }}
            </td>
          </tr>
          <tr>
            <td>{{ 'DETAILS_PRICE' | translate }}:</td>
            <td class="td-price">{{ product.price | currency: 'EUR' }}</td>
          </tr>
          <tr *ngIf="discountPercentage > 0">
            <td>{{ 'DETAILS_DISCOUNT' | translate }}:</td>
            <td class="td-discount">
              {{ product.oldPrice - product.price | currency: 'EUR' }} ({{
                discountPercentage
              }}&#37;)
            </td>
          </tr>
        </table>

        <div class="d-lg-none">
          <hr />
          <input
            *ngIf="product.coupon"
            type="text"
            class="form-control my-3 input-coupon"
            value="{{ product.coupon }}"
            readonly
            (click)="onCouponInputClick($event)"
          />
          <a
            class="btn btn-primary btn-block"
            [href]="product.url"
            target="_blank"
          >
            {{
              product.storeName
                ? ('GO_TO_PRODUCT_PAGE_IN_STORE' | translate) +
                  ' ' +
                  product.storeName
                : ('GO_TO_PRODUCT_PAGE' | translate)
            }}
          </a>
          <hr />
          <div class="div-wishlist">
            <button
              type="button"
              class="btn btn-outline-danger btn-block"
              (click)="updateWishlist()"
            >
              <ng-container *ngIf="!isProductInWishlist">
                <i class="material-icons">favorite_border</i>
                {{ 'WISHLIST_ADD' | translate }}
              </ng-container>
              <ng-container *ngIf="isProductInWishlist">
                <i class="material-icons">favorite</i>
                {{ 'WISHLIST_REMOVE' | translate }}
              </ng-container>
            </button>
          </div>
        </div>

        <ng-container *ngIf="product.description">
          <hr />
          <h5 class="mb-3">{{ 'DETAILS_DESCRIPTION' | translate }}</h5>
          <div class="div-description" [innerHTML]="product.description"></div>
        </ng-container>
      </div>
      <div class="col-12 col-lg-5 d-none d-lg-block">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              {{
                product.coupon
                  ? ('DETAILS_COUPON' | translate)
                  : ('DETAILS_STORE' | translate)
              }}
            </h5>
            <input
              *ngIf="product.coupon"
              type="text"
              class="form-control my-3 input-coupon"
              value="{{ product.coupon }}"
              readonly
              (click)="onCouponInputClick($event)"
            />
            <a
              class="btn btn-primary btn-block"
              [href]="product.url"
              target="_blank"
            >
              {{
                product.storeName
                  ? ('GO_TO_PRODUCT_PAGE_IN_STORE' | translate) +
                    ' ' +
                    product.storeName
                  : ('GO_TO_PRODUCT_PAGE' | translate)
              }}
            </a>
            <div *ngIf="isUserLoggedIn" class="div-wishlist">
              <hr />
              <button
                type="button"
                class="btn btn-outline-danger btn-block"
                (click)="updateWishlist()"
              >
                <ng-container *ngIf="!isProductInWishlist">
                  <i class="material-icons">favorite_border</i>
                  {{ 'WISHLIST_ADD' | translate }}
                </ng-container>
                <ng-container *ngIf="isProductInWishlist">
                  <i class="material-icons">favorite</i>
                  {{ 'WISHLIST_REMOVE' | translate }}
                </ng-container>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-12 text-right">
    <a (click)="onBackButtonClick()">
      <i class="material-icons">arrow_back</i> {{ 'BACK_TO_LIST' | translate }}
    </a>
  </div>
</div>
