:host {
  // a:not([href]):not([tabindex]) {
  //   color: #007bff;
  //   cursor: pointer;
  // }

  // a:not([href]):not([tabindex]):hover {
  //   color: #0056b3;
  //   cursor: pointer;
  // }

  a:hover {
    text-decoration: none;
  }

  .img-product {
    width: 85%;
  }

  table.details-table {
    tr {
      td {
        padding: 3px;
        vertical-align: middle;
        font-size: 15px;
      }

      td:first-child {
        width: 50%;
        text-align: right;
      }

      td.td-old-price {
        text-decoration: line-through;
      }

      td.td-price {
        font-size: 125%;
        color: #b12704;
      }

      td.td-discount {
        color: #b12704;
      }
    }
  }

  div.div-description {
    font-size: 94%;
  }

  input.input-coupon {
    background-color: #ffffff;
    text-align: center;
  }

  .card {
    .card-body {
      .btn {
        font-size: 14.5px;
        white-space: pre-wrap;
      }
    }
  }
}
