:host {
  overflow: hidden;

  .splash-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;

    .splash {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      p {
        font-weight: bold;

        .material-icons.splash-icon {
          line-height: unset;
          font-size: inherit;
          vertical-align: bottom;
        }
      }
    }
  }
}
