<div [@hide]="show ? 'shown' : 'hidden'" class="splash-container">
  <div class="splash">
    <p>
      <i class="material-icons splash-icon">phonelink</i>
      {{ 'SPLASH_TEXT' | translate }}
    </p>
  </div>
</div>
