<div class="grid-container">
  <ng-container *ngFor="let prod of displayedProductList; index as idx">
    <div *ngIf="isShownOnPage(idx)" class="grid-item">
      <div
        class="grid-item-front d-block text-center"
        [id]="'front-' + prod.id"
        (click)="onCardClick($event, prod.id)"
      >
        <div class="grid-img">
          <img class="mb-1 mx-auto d-block" [src]="prod.imageUrl" />
        </div>
        <p class="my-2">{{ prod.name }}</p>
        <p class="my-2">
          <span class="new-price"> {{ prod.price | currency: 'EUR' }} </span>
          <span *ngIf="prod.oldPrice !== prod.price" class="old-price">
            {{ prod.oldPrice | currency: 'EUR' }}
          </span>
        </p>
        <!--
          <button class="btn btn-light">{{ 'COUPON_OPEN' | translate }}</button>
        -->
      </div>
      <!--
        <div
          class="grid-item-coupon d-none text-center"
          [id]="'coupon-' + prod.id"
        >
          <span class="close-coupon" (click)="onCouponCloseClick($event)">
            <i class="material-icons">clear</i>
          </span>
          <div class="grid-item-coupon-content">
            <div>
              <p class="my-2 pt-2">{{ prod.name }}</p>
              <span class="new-price"> {{ prod.price | currency: 'EUR' }} </span>
            </div>
            <input
              type="text"
              class="form-control my-3 input-coupon"
              value="{{ prod.coupon }}"
              readonly
              (click)="onCouponInputClick($event)"
            />
            <a
              class="btn btn-primary btn-text-wrap"
              [href]="prod.url"
              target="_blank"
            >
              {{ 'GO_TO_PRODUCT_PAGE' | translate }}
            </a>
          </div>
        </div>
      -->
    </div>
  </ng-container>
</div>
<div
  class="row grid-pagination"
  *ngIf="displayedProductList.length > 0 && maxNumOfPages > 1"
>
  <div class="col my-3">
    <nav>
      <ul class="pagination justify-content-center">
        <li class="page-item" [ngClass]="{ disabled: currentPage === 1 }">
          <a class="page-link" (click)="updatePagination(currentPage - 1)">
            {{ 'PREVIOUS' | translate }}
          </a>
        </li>
        <li class="page-item" [ngClass]="{ disabled: currentPage === 1 }">
          <a class="page-link" (click)="updatePagination(currentPage - 1)">
            {{ currentPage - 1 }}
          </a>
        </li>
        <li class="page-item active">
          <a class="page-link"> {{ currentPage }} </a>
        </li>
        <li
          class="page-item"
          [ngClass]="{ disabled: currentPage === maxNumOfPages }"
        >
          <a class="page-link" (click)="updatePagination(currentPage + 1)">
            {{ currentPage + 1 }}
          </a>
        </li>
        <li
          class="page-item"
          [ngClass]="{ disabled: currentPage === maxNumOfPages }"
        >
          <a class="page-link" (click)="updatePagination(currentPage + 1)">
            {{ 'NEXT' | translate }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div *ngIf="displayedProductList.length < 1" class="mt-3">
  {{ 'NO_PRODUCTS_FOUND' | translate }}
</div>
