:host {
  .grid-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    perspective: 600px;

    @media (max-width: 575.98px) {
      grid-template-columns: repeat(auto-fill, minmax(150px, 49%));
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fill, minmax(125px, 49%));
    }
  }

  .grid-item {
    padding: 10px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    border-radius: 5px;
  }

  .grid-item-front {
    display: grid;
    grid-template-rows: auto 1fr auto;
    backface-visibility: hidden;
    cursor: pointer;

    .grid-img {
      position: relative;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .grid-img:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    p {
      margin-bottom: 0;
    }
  }

  .grid-item-coupon {
    position: relative;
    height: 100%;

    .close-coupon {
      position: absolute;
      top: -15px;
      right: -8px;
      cursor: pointer;
    }

    .grid-item-coupon-content {
      .input-coupon {
        text-align: center;
        background-color: #fff;
      }

      .btn-text-wrap {
        white-space: normal;
      }
    }
  }

  .new-price {
    color: #c00;
  }

  .old-price {
    text-decoration: line-through;
  }
}
