<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ 'LOGIN_PAGE_TITLE' | translate }}</h5>
        <p
          class="card-text"
          [innerHTML]="'LOGIN_PAGE_DESCRIPTION' | translate"
        ></p>
        <div class="row">
          <div
            class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-0 col-lg-5 offset-lg-1 text-center mb-2"
          >
            <button
              type="button"
              class="btn btn-danger btn-block text-left"
              (click)="loginWithGoogle()"
            >
              <i class="fab fa-google"></i>
              <span class="float-right">
                {{ 'LOGIN_WITH_GOOGLE' | translate }}
              </span>
            </button>
          </div>
          <div
            class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-0 col-lg-5 text-center"
          >
            <button
              type="button"
              class="btn btn-primary btn-block text-left"
              (click)="loginWithFacebook()"
            >
              <i class="fab fa-facebook-f"></i>
              <span class="float-right">
                {{ 'LOGIN_WITH_FACEBOOK' | translate }}
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
