<div class="row">
  <div class="col-12 col-md-5 col-lg-4 mb-3 ">
    <!-- d-none d-md-block -->
    <div class="card">
      <div class="card-img-top-container">
        <img class="card-img-top" [src]="user.photoURL" />
      </div>
      <div class="card-body">
        <h5 class="card-title text-center">{{ user.displayName }}</h5>
        <hr class="my-1" />
        <table class="table table-borderless table-responsive mb-0">
          <tr>
            <td><i class="material-icons">email</i></td>
            <td>{{ user.email }}</td>
          </tr>

          <tr>
            <td><i class="material-icons"> calendar_today </i></td>
            <td>
              {{ 'PROFILE_LAST_LOGIN' | translate }}
              {{ user.loginDate.toDate() | date: 'dd/MM/yyyy HH:mm' }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-7 col-lg-8">
    <h3>{{ 'PROFILE_WISHLIST' | translate }}</h3>
    <hr class="mb-3" />
    <store-product-grid
      *ngIf="wishlist && wishlist.length > 0"
      [products]="wishlist"
    ></store-product-grid>
  </div>
</div>
