:host {
  .card {
    .card-img-top-container {
      position: relative;
      height: 200px;

      .card-img-top {
        object-fit: cover;
        position: absolute;
        height: 100%;
      }
    }

    @media screen and (orientation: landscape) and (max-width: 767.98px) {
      display: grid;
      grid-template-columns: 50% 50%;

      .card-img-top-container {
        height: 100%;

        img {
          border-top-right-radius: 0px;
          border-bottom-left-radius: calc(0.25rem - 1px);
        }
      }
    }
  }
}
