<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3"
>
  <h1 class="h2">{{ 'USERS' | translate }}</h1>
</div>
<div class="table-responsive">
  <table datatable [dtTrigger]="dtTrigger" class="table table-striped">
    <thead>
      <tr>
        <th>{{ 'PHOTO' | translate }}</th>
        <th>{{ 'ID' | translate }}</th>
        <th>{{ 'NAME' | translate }}</th>
        <th>{{ 'EMAIL' | translate }}</th>
        <th>{{ 'ROLE' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let user of users">
        <tr>
          <td><img class="img-user" [src]="user.photoURL" /></td>
          <td>{{ user.uid }}</td>
          <td>{{ user.displayName }}</td>
          <td>{{ user.email }}</td>
          <td>
            {{
              (user.isAdmin ? 'ROLE_ADMINISTRATOR' : 'ROLE_USER') | translate
            }}
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
