<!--
  <store-carousel></store-carousel>
  <hr />
-->
<div class="row">
  <div class="col-md-4 col-lg-3 sidebar-container">
    <store-sidebar
      [categories]="categories"
      [activeCategory]="categoryId"
      (change)="onCategoryChange($event)"
    ></store-sidebar>
  </div>
  <div class="col-md-8 col-lg-9 router-container">
    <div class="row info-row" *ngIf="showFrontPageCard()">
      <div class="col">
        <div class="card info-card">
          <div
            class="card-header"
            id="infoCardHeader"
            data-toggle="collapse"
            data-target="#infoCardBody"
            [attr.aria-expanded]="!infoCardCollapsed"
            aria-controls="infoCardBody"
            (click)="infoCardCollapsed = !infoCardCollapsed"
          >
            {{ 'CARD_FRONT_PAGE_TITLE' | translate }}
            <a class="btn btn-link icon-link">
              <i class="material-icons">
                {{ infoCardCollapsed ? 'expand_more' : 'expand_less' }}
              </i>
            </a>
          </div>
          <div
            class="collapse"
            id="infoCardBody"
            aria-labelledby="infoCardHeader"
          >
            <div class="card-body">
              <div
                class="card-text mt-2"
                [innerHTML]="'CARD_FRONT_PAGE_CONTENT' | translate"
              ></div>
            </div>
          </div>
        </div>
        <hr />
      </div>
    </div>
    <div class="row my-2">
      <div class="col-12 col-sm-6">
        <h4>{{ 'FEATURED_PRODUCTS' | translate }}</h4>
      </div>
      <div class="col-12 col-sm-6 search-container">
        <input
          type="text"
          class="align-right form-control"
          [placeholder]="'SEARCH' | translate"
          [formControl]="searchInput"
          (change)="onSearchInputChange($event)"
        />
        <span
          class="form-clear"
          [ngClass]="{
            'd-none': !searchInput.value || searchInput.value.trim() == ''
          }"
          (click)="onSearchClearClick($event)"
        >
          <i class="material-icons">clear</i>
        </span>
      </div>
    </div>
    <store-product-grid
      [numItemsToDisplay]="numItemsToDisplay"
      [products]="products"
      [search]="searchInput.value"
      [filter]="categoryFilter"
    ></store-product-grid>
  </div>
</div>
