:host {
  .sidebar-container {
    @media (max-width: 767.98px) {
      padding-left: 1rem;
      padding-right: 1rem;
      margin-bottom: 10px;
    }
  }

  .router-container {
    @media (max-width: 767.98px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .search-container {
    .form-clear {
      position: absolute;
      bottom: 0;
      right: 20px;
      cursor: pointer;
    }
  }

  .card.info-card {
    .card-header {
      font-size: 18px;
      font-weight: 600;
      position: relative;
      cursor: pointer;

      a:not([href]):not([tabindex]) {
        cursor: pointer;
      }

      a.icon-link {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        i.material-icons {
          font-size: 30px;
        }
      }
    }
  }
}
