<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3"
>
  <h1 class="h2">{{ 'PRODUCTS' | translate }}</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button
        class="btn btn-sm btn-outline-secondary"
        [routerLink]="['.', '0']"
      >
        <i class="material-icons"> add </i>{{ 'ADD' | translate }}
      </button>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table datatable [dtTrigger]="dtTrigger" class="table table-striped">
    <thead>
      <tr>
        <th>{{ 'IMAGE' | translate }}</th>
        <th *ngIf="showIds">{{ 'ID' | translate }}</th>
        <th>{{ 'NAME' | translate }}</th>
        <th>{{ 'CATEGORY' | translate }}</th>
        <th>{{ 'PRICE' | translate }}</th>
        <th>{{ 'OLD_PRICE' | translate }}</th>
        <th>{{ 'COUPON' | translate }}</th>
        <th>{{ 'STORE' | translate }}</th>
        <th class="th-actions">{{ 'ACTIONS' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let product of products">
        <tr>
          <td>
            <img
              *ngIf="product.imageUrl"
              class="table-img"
              [src]="product.imageUrl"
            />
          </td>
          <td *ngIf="showIds">{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.oldPrice }}</td>
          <td>{{ product.coupon }}</td>
          <td>{{ product.storeName }}</td>
          <td>
            <a [routerLink]="['.', product.id]">
              <i class="material-icons"> create </i>
            </a>
            <a
              href="#"
              data-toggle="modal"
              data-target="#modal"
              (click)="onDeleteButtonClick(product.id)"
            >
              <i class="material-icons"> delete </i>
            </a>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
