/* Theming */

$color-dark: rgba(0, 15, 8, 1);
$color-body-bg: #fefffe;
$color-navbar-bg: #2e2c2f; // #283d3b; // #23395b;
$color-navbar-text: #e5dedf;
$color-navbar-text-active: #fff7f8;
$color-sidebar-link: #688d6e; // #688D6E; // #c44536; // #637787;
$color-sidebar-link-expanded: #49634e;
$color-sidebar-link-active: #49634e; // #6d2a22; // #3e4e5a;
$color-footer-bg: #d8ded4;
$color-button: #475b63; // #912f40;
$color-header: #475b63; // #912f40;
$color-link: #688d6e;
$color-link-active: #49634e;
$color-link-hover: #49634e;

body {
  font-family: 'Open Sans', sans-serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: $color-sidebar-link-active;
}

app-store {
  background-color: $color-body-bg;
  color: $color-dark;

  h4,
  h5 {
    color: $color-header;
  }

  a,
  a:not([href]):not([tabindex]) {
    color: $color-link;
    cursor: pointer;
  }

  a:hover,
  a:not([href]):not([tabindex]):hover {
    color: $color-link-hover;
    cursor: pointer;
  }

  store-navbar {
    nav.navbar {
      background-color: $color-navbar-bg;

      a.navbar-brand {
        color: $color-navbar-text-active;

        .navbar-icon {
          color: $color-sidebar-link;
        }
      }

      li.nav-item {
        a.nav-link {
          color: $color-navbar-text;
        }

        a.nav-link:hover {
          color: $color-navbar-text-active;
        }
      }
    }
  }

  store-sidebar {
    button.btn-categories {
      border-color: $color-button;
      color: $color-button;
    }

    button.btn-categories:hover {
      background-color: $color-button;
    }

    nav.sidebar-nav {
      .nav-link {
        color: $color-sidebar-link;
      }

      .nav-link.active,
      .nav-link:hover {
        color: $color-sidebar-link-active;
      }

      .nav-link[aria-expanded='true'] {
        color: $color-sidebar-link-expanded;
      }
    }
  }

  store-product-grid {
    .grid-pagination {
      li.page-item.active {
        a.page-link {
          background-color: $color-sidebar-link;
          border-color: $color-sidebar-link;
        }
      }
    }
  }

  store-footer {
    footer.footer {
      background-color: $color-footer-bg;
      color: $color-header;
    }
  }
}

app-loading {
  .loading-container {
    background-color: rgba(0, 0, 0, 0.6) !important;
  }

  .loader {
    border: 8px solid $color-navbar-bg !important;
    border-top: 8px solid $color-sidebar-link !important;
  }
}

app-splash {
  .splash-container {
    background-color: $color-navbar-bg;
  }

  .splash {
    color: $color-body-bg;

    p {
      white-space: nowrap;
      font-size: 5vw;

      @media (max-width: 1199.98px) {
        font-size: 6.5vw;
      }

      @media (max-width: 575.98px) {
        font-size: 10vw;
      }
    }

    .splash-icon {
      color: $color-sidebar-link;
    }
  }
}

/* Other styles */

table {
  thead {
    th.th-actions {
      width: 60px;
    }
  }
}

.btn,
a {
  .material-icons {
    vertical-align: bottom;
  }
}

a.icon-link {
  cursor: pointer;
  color: #007bff;
}
