<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">{{ 'UPDATE_CATEGORY' | translate }}</h1>
</div>
<form [formGroup]="categoryForm" novalidate>
  <div class="row">
    <div class="col-12 col-md-6">
      <div *ngIf="category.id.trim() !== ''" class="form-group">
        <label for="id">{{ 'ID' | translate }}</label>
        <input class="form-control" formControlName="id" readonly />
      </div>
      <div class="form-group">
        <label for="name">{{ 'NAME' | translate }}</label>
        <input class="form-control" formControlName="name" />
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="parent">{{ 'PARENT' | translate }}</label>
        <select
          class="form-control"
          formControlName="parent"
          [compareWith]="compare"
        >
          <option [ngValue]="null">{{
            'CATEGORY_TOP_LEVEL' | translate
          }}</option>
          <ng-container *ngFor="let cat of categories">
            <option
              *ngIf="!cat.parent && cat.id != categoryForm.value.id"
              [ngValue]="cat.id"
            >
              {{ cat.name }}
            </option>
          </ng-container>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-right">
      <button
        class="btn btn-secondary float-right"
        (click)="onCancelButtonClick()"
      >
        {{ 'CANCEL' | translate }}
      </button>
      <button
        class="btn btn-primary float-right mx-3"
        [disabled]="categoryForm.pristine"
        (click)="onSubmitButtonClick()"
      >
        {{ 'SAVE' | translate }}
      </button>
    </div>
  </div>
</form>
